*{
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

 a {
    color: black;
    font-size: large;
    font-family: 'Rubik';
 }

    /*HEADER*/

.header {
    padding-top: 1rem;
    padding-bottom: 1rem;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.logo1 {
    height: 3rem;
    width: 9rem;
    margin-left: 2rem;
}

.navigation {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-right: 2rem;
}
.navElements{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

a:hover {
    text-decoration: underline rgb(93, 157, 124);
    transition: .5s;
}
.bars {
   display: none;
   cursor: pointer;
}


 /*reserve table button*/

.text {
    background-color: rgb(49, 63, 57);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 
}
.paragraph {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    margin-top: 7rem;
}

.text button {
    width: 9rem;
    height: 2rem;
    margin-top: 2rem;
    background-color: rgba(227, 227, 36, 0.963);
    border-radius: 16px;
    font-family: 'rubik';
    font-size: medium;
    cursor: pointer;
}

.text h1 {
    color: rgba(227, 227, 36, 0.963);
    font-family: 'Georgia'; 
    font-size:xx-large;
    margin-bottom: -1.5rem;

}

.text h2 {
    color:white;
    margin-top: 1rem;
    font-size: xx-large;
    font-family: 'Georgia';

}

.text p {
    color: white;
    font-family: 'Georgia';
    font-size: x-large;
    margin-top: 1rem;
    margin-right: 5rem;
    line-height: 3rem;
}

.headerImage {
    border-radius: 16px;
    margin-top: 2rem;
    margin-right: 2rem;
    margin-bottom: -3rem;
}

  /*specials and button*/

.specials {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-right: 2rem;
    margin-left: 2rem;
    margin-top: 7rem;

}
.specials p {
    font-size: x-large;
    font-family: 'rubik';
}
.specials button {
    width: 9rem;
    height: 2rem;
    border-radius: 16px;
    background-color: rgba(227, 227, 36, 0.963);
    font-family: 'rubik';
}

  /*MENU*/

.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2rem;
    margin-right: 2rem;
    margin-left: 2rem;
}
.container{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    margin-right: 1rem;
    margin-left: 1rem;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}
.card-content {
    display: flex;
    flex-direction: column;
}
.titreEtPrix {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    
}
.order {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3rem;

}
.card {
    background-color: rgb(236, 236, 236);
    display: flex;
    flex: 1;
    flex-direction: row;
    border-radius: 16px;
    margin-right: 1rem;
}

.card img {
    height: 10rem;
    width: 100%;
    object-fit: fill;
    border-radius: 16px; 
}
.card h2 {
    font-family: 'Raleway';
}
.card h3 {
    font-size: medium;
    color: orange;
}
.card p {
    color: grey;

}
.icon {
    font-size: larger;
    margin-left: 1rem;
 }

    /*rating section*/

.rating {
    background-color: rgb(236, 236, 236);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2rem;
}

.pers {
    display: flex;
    flex: 1 ;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.stars {
    margin-top: 1rem;
    color: rgba(227, 227, 36, 0.963);
}

 .pers img {
   max-width: 60%;
   height: auto;
   margin-top: 1rem;
   margin-bottom: 1rem;
 }

 /*DESCRIPTION OF THE RESTAURANT AND THe PICTURES OF THE OWNERS*/

 .description {
    background-color: rgb(49, 63, 57);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2rem;
 }

 .describe {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;   
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
}

.photos {
    
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 2rem;
}
 .description img{
    max-width: 50%;
    height: auto;
    border-radius: 16px;
}

.mario{
        margin-top: -3rem;
        margin-left: 10rem;
}


.describe h1 {
    color: rgba(227, 227, 36, 0.963);
    font-family: 'Georgia'; 
    font-size: xx-large;
    margin-left: 1rem;
    margin-bottom: -0.5rem;
    margin-top: 2rem;

}
.describe h2 {
    color:white;
    margin-left: 1rem;
    font-size: xx-large;
    font-family: 'Georgia';
}

.describe p {
    color: white;
    font-family: 'Georgia';
    font-size: larger;
    margin-left: 1rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

   /*FOOTER*/

.footer {
    background-color: rgb(236, 236, 236);
    display: flex;
    flex-direction: row;
    padding-bottom: 1rem;
    margin-top: 2rem;
}

.logo2 {
    height: 2rem;
    width: 9rem;
    margin-top: 1rem;
    margin-left: 0.5rem;
   
}

.footer a {
    color: rgb(97, 101, 105);
    font-size: medium;}


.about {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

 /*reservePage*/

 .restaurant {
    margin-top: 1rem;
    width: 100%;
    height: 25rem;
 }

 .formgroup h1{
    text-align: center;
    font-family: 'Georgia';
    margin-top: 1rem;
    padding-bottom: 3rem;
    font-size: x-large;
    color: rgb(49, 63, 57);
 }
 
.formgroup{
    display: flex;
    flex-direction: column;
    align-items: center; 
    max-width: 100%;
    height: auto;
    margin-top: 2rem;
 }

.Occasion,
.Party,
.date,
.hour,
.options {
 
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 3rem;
}

.Occasion select,
.Party select,
.date input,
.hour select{
    padding: 5px 15px;
    border-radius: 16px;
    background-color:  rgb(49, 63, 57);
    color: rgb(243, 246, 245);
}
.Occasion select,
.Party select,
.date input,
.hour select,
.optioncheckbox{
    width: 15rem;

}

.labels{
    font-family: 'Rubik';
    width: 12rem;
    
}
.optioncheckbox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.standardcheck label,
.outdoorcheck label
{
    margin-left: 1rem;
    color: rgb(49, 63, 57);
}
.border{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    border-radius: 16px;
    border: 1px solid black;
    padding-bottom: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}
.buttonS{
   display: flex;
   align-items: center;
   justify-content: center;
}
.buttonR {
    background-color: rgba(227, 227, 36, 0.963);
    color: black;
    font-family: 'Rubik';
    padding: 5px 30px;
    border-radius: 16px;
    cursor: pointer;
    margin-top: 2rem;

  }

button:hover {
    background-color: rgb(49, 63, 57);
    color: white;
  }

  .error{
    background-color: #f44336; 
    color: #fff; 
    padding: 12px 10px; 
    border-radius: 16px; 
    font-size: medium;
    border: 1px solid #d32f2f;
    color: #fff;
    width: 50%;
    text-align: center;
    
  }

  /*Confirmation*/

  .confirmaionForm{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: auto;
    margin-top: 2rem;
  }


  .case{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2rem;

  }
  .case input{
    padding: 10px 15px;
    border-radius: 16px;
    background-color:  rgb(49, 63, 57);
    color: rgb(243, 246, 245);
    width: 15rem;
  }

  .border h1{
    text-align: center;
    font-family: 'Georgia';
    margin-top: 1rem;
    padding-bottom: 3rem;
    font-size: x-large;
    color: rgb(49, 63, 57);
  }
  .labelss{
    width: 12rem;
    font-family: 'Rubik';
  }
  .Comments{
   height: 10rem;
  }

  span{
    display: flex;
    justify-content: center;
    color: red;
    margin-top: -2rem;
    margin-left: 3rem;
    padding-bottom: 1rem;

  }

  /*Confirmed*/
  
.Box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    padding-bottom: 1rem;
    width: 100%;
}
  .iconCheck{
    display: flex;
    justify-content: center;
    height: 25rem;
  }
  .ICON{
    font-size:20rem;
    color: rgb(49, 63, 57);
  }
  .Infos h1{
    text-align: center;
    font-family: 'Georgia';
    margin-top: 1rem;
    padding-bottom: 3rem;
    font-size: x-large;
    color: rgb(49, 63, 57);
  }

  .Infos h3{
    font-family: 'Rubik';
    font-size: medium;
  }

  /*MEDIA BREAKPOINTS*/

@media (max-width:992px){
    .border{
        width: 60%;
    }
}

@media (max-width:860px){
    .navigation a{
        font-size: medium;
    }
    .border{
        width: 60%;
    }
    .error{
        width: 60%;
      }
   
  }

@media (max-width:816px){
    .navigation a{
        font-size: small;
        font-weight: bold;
    }
    .photos {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

     .description img {
        width: auto;
        height: 80%;
        border-radius: 16px;
    }
    
    .mario {
        margin-top: -2rem;
        margin-left: 4rem;
    }
    
}

@media (max-width:812px){
        .text p{
            line-height: 2rem;
        }
        .ICON{
            font-size:15rem;
        }
        .iconCheck{
                height: 17rem;
            }
            
      }
@media(max-width: 808px){
        .error{
            padding: 5px 4px; 
            font-size: small;
            width: 50%;
          }
      }
      
@media(max-width: 799px){
        .error{
            
            width: 50%;
          }
      }
  


@media (max-width:768px){
    
    .text p{
        line-height: 1.5rem;
        font-size: large;
    }

    .navigation {
        flex-direction: column;
        align-items: center;
        left: 0;
        right: 0;
    } 
    .navElements {
        backdrop-filter: blur(7px) ;
        background-color: rgba(255, 255, 255, 0.20);
        border-radius: 16px;
        border: 1px solid black; 
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
        flex-direction: column;
        padding : 10px;
        position : absolute;
        top : 65px; 
        right: 0;
        left: 0;
        width: 100vh;
        text-align: center;
        height: 100%;
        margin-left: -100vh;
        transition: all 0.5s ease;
    }
    .navElements.mobile-menu{
        margin-left: 0;
        width: 100%;
    }
    .navElements ul {
        list-style: none;
    }
    
    .navElements ul li {
        margin-bottom: 1rem;
    }
    .bars {
        display: block; 
        background-color: azure;
        font-size: 2rem;
    }
    .navElements a{
        color: black;
        font-family: 'Rubik';
        font-size: larger;
        font-weight: lighter;
      }
    }

    .menu {
        flex-direction: column; 
        justify-content: space-between;
    }
    .headerImage{
        max-width: 40%;
        height: auto;
    }

    .container {
        justify-content: space-between;
    }

    .card {
    flex-direction: row;
    margin-bottom: 1rem;

    }

    .card img {
        width: 15rem;
        height: 12rem;
    }

    .titreEtPrix {
        margin-top: -1.3rem;
    }

    .order {
        margin-top: 0.5rem;
    }
    .border{
        width: 65%;
    }
    .ICON{
        font-size:12rem;}
    .iconCheck{
            height: 15rem;
        }
    .error{
           
            width: 60%;
          }


@media (max-width:748px){
 
    .border{
        width: 70%;
    }
    .restaurant{
        height: 15rem;
    }
}


@media (max-width:671px){
   
    .border{
        width: 80%;
    }
    .restaurant{
        height: 15rem;
    }
}
@media (max-width:648px){

    .headerImage{
        max-width: 35%;
        height: auto;
    }
    .paragraph{
        margin-top: 2rem;
    } 
    .restaurant{
        height: 15rem;
    }
    
}

@media (max-width:600px){

    .text p {
        font-size: medium;
    }
    .restaurant{
        height: 15rem;
    }
    .card {
        flex-direction: column;
        margin-bottom: 1rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .card img {
        width: 100%;
        height: 9rem;
    }
   
}


 @media (max-width:576px){

        .logo1{
            margin-left: 0.5rem;
            height: 2rem;
            width: 8rem;
        }

        .headerImage {
           max-width: 30%;
           height: auto;
        }

        .paragraph {
            margin-left: 2rem;
            margin-top: 3rem;
        }

        .text button {
            margin-top: 1rem;
            margin-bottom: 0.7rem;
            font-size: small;
            width: 8rem;
            height: 1.5rem;
            font-weight: bold;
        }

        .text p {
            font-size: medium;
        }

        .specials p {
            font-size: large;
        }

        .specials button {
            font-size: small;
            width: 8rem;
            height: 1.5rem;
            font-weight: bold;
        }

        .specials {
            margin-top: 5rem;
            margin-left: 4rem;
            margin-right: 4rem;
        }
         
        .card {
            flex-direction: column;
            margin-bottom: 1rem;
            margin-left: 2rem;
            margin-right: 2rem;
        }

        .card img {
            width: 100%;
            height: 9rem;
        }

        .rating {
            flex-direction: column;
        }

        .pers img {
            max-width: 40%;
            height: auto;
        }

        .photos {
            margin-top: 1rem;
            margin-bottom: 1rem;
        }

         .description img {
            width: auto;
            height: 80%;
            border-radius: 16px;
        }
        
        .mario {
            margin-top: -2rem;
            margin-left: 4rem;
        }

        
        .footer a {
            font-size: small;
        }

        .logo2 {
            margin-top: 1rem;
            height: 2rem;
            width: 7rem;
        }
        .border{
            width: 90%;
        }
        .restaurant{
            height: 15rem;
        }
}

@media (max-width : 510px){
    .border{
        width: 95%;
    }
    .restaurant{
        height: 15rem;
    }
}
@media (max-width : 500px){
    .footer{
        flex-direction: column;
    }
    .logo{
        align-self: center;
        }
    .description {
            flex-direction: column;
        }  
    }

@media (max-width : 481px){
   
    .footer{
        flex-direction: column;
    }
    .logo{
        align-self: center;
        }
    .description {
            flex-direction: column;
        }   
    .text{
            flex-direction: column;
        }
    .headerImage{
            margin-left: 11rem;
            margin-top: 0.2rem;
            max-width: 40%;
            height: auto;
        
        }
    .case{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 2rem;
        
          }

    .labelss{
            margin-bottom: 1rem;
          }
    span{
            margin-right:12rem;
          }
}

@media (max-width : 465px){
.Occasion,
.Party,
.date,
.hour,
.options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
.labels{
    padding-bottom: 1rem;
    width: 15rem;
}
.ICON{
    font-size:10rem;
    }
.iconCheck{
        height: 15rem;}
        
.Infos h3{
    
    font-size: small;
  }
.error{
    width: 60%;
  }

.navElements{
    width: 100%;
    height: 100vh;
    
   
  }

}
@media (max-width : 360px){
    .error{
        width: 60%;
    }
}
