*{
    padding: o;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
 a {
    color: black;
    font-size: large;
    font-family: 'Rubik';
 }

.logo1 {
    height: 3rem;
    width: 9rem;
    margin-top: 2rem;
    margin-left: 2rem;
}

.navigation {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: -2.3rem;
    margin-bottom: 2rem;
}

a:hover{
    text-decoration: underline rgb(102, 121, 111);
    transition: .5s;
}
.bars{
   display: none;
}

.text{
    background-color: rgb(49, 63, 57);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 
}
.paragraph{
    display: flex;
    flex-direction: column;
    margin-left: 4rem;
    margin-top: 7rem;
}

.text button{
    width: 9rem;
    height: 2rem;
    margin-top: 2rem;
    background-color: rgba(227, 227, 36, 0.963);
    border-radius: 16px;
    font-family: 'rubik';
    font-size: medium;

}

.text h1{
    color: rgba(227, 227, 36, 0.963);
    font-family: 'Georgia'; 
    font-size: xx-large;
    margin-bottom: -1.5rem;

}

.text h2{
    color:white;
    margin-top: 1rem;
    font-size: xx-large;
    font-family: 'Georgia';

}

.text p{
    color: white;
    font-family: Georgia, serif;
    font-size: large;
    margin-top: 1rem;
}

.headerImage{
    border-radius: 16px;
    margin-top: 2rem;
    margin-right: 2rem;
    margin-bottom: -3rem;
}

.specials{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-right: 2rem;
    margin-left: 9rem;
    margin-top: 7rem;

}
.specials p{
    font-size: x-large;
    font-family: 'rubik';
}
.specials button{
    width: 9rem;
    height: 2rem;
    border-radius: 16px;
    background-color: rgba(227, 227, 36, 0.963);
    font-family: 'rubik';
}
.menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2rem;
    margin-right: 2rem;
    margin-left: 9rem;
}
.container1{
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
    margin-left: 1rem;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}
.titreEtPrix{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.order{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3rem;

}
.card1{
    background-color: rgb(236, 236, 236);
    display: flex;
    flex: 1;
    flex-direction: column;
    border-radius: 16px;
    margin-right: 1rem;
}
.card1 img{
    height: 12rem;
    border-radius: 16px;
}
.card1 h2{
    font-family: 'Raleway';
}
.card1 h3{
    font-size: medium;
    color: orange;
}
.card1 p{
    margin-top: 1rem;
    color: grey;

}
.icon1{
    font-size: larger;
 }

 .container2{
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
    margin-left: 1rem;
    margin-top: 2rem;
    margin-bottom: 0.5rem;

}
.titreEtPrix1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.order1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3rem;

}
.card2{
    background-color: rgb(236, 236, 236);
    display: flex;
    flex: 1;
    flex-direction: column;
    border-radius: 16px;
    margin-right: 1rem;

}
.card2 img{
    height: 12rem;
    border-radius: 16px;
}
.card2 h2{
    font-family: 'Raleway';
}
.card2 p{
    margin-top: 1rem;
    color: grey;

}
.card2 h3{
    font-size: medium;
    color: orange;
}
.icon2{
    font-size: larger;
 }

 .container3{
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
    margin-left: 1rem;
    margin-top: 2rem;
    margin-bottom: 0.5rem;

}
.titreEtPrix2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.order2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3rem;

}
.card3{
    background-color: rgb(236, 236, 236);
    display: flex;
    flex: 1;
    flex-direction: column;
    border-radius: 16px;
}
.card3 img{
    height: 12rem;
    border-radius: 16px;
}
.card3 h2{
    font-family: 'Raleway';
}
.card3 h3{
    font-size: medium;
    color: orange;
}
.card3 p{
    margin-top: 1rem;
    color: grey;
}
.icon3{
    font-size: larger;
 }

.rating{
    background-color: rgb(236, 236, 236);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 8rem;
 }

 .pers1{
    display: flex;
    flex-direction: column;
    margin-left: 5rem;
    align-items: center;
}
.pers2{
    display: flex;
    flex-direction: column;
    margin-left: 5rem;
    align-items: center;
}
.pers3{
    display: flex;
    flex-direction: column;
    margin-right: 5rem;
    align-items: center;
    margin-bottom: 2rem;
}
.stars{
    margin-top: 1rem;
    color: rgba(227, 227, 36, 0.963);
}
.stars2{
    margin-top: 1rem;
    color: rgba(227, 227, 36, 0.963);
}
.stars3{
    margin-top: 1rem;
    color: rgba(227, 227, 36, 0.963);
}

 .pers1 img{
    width: 15rem;
    margin-top: 2rem;
    margin-bottom: 1rem;

 }
 .pers2 img{
    width: 15rem;
    margin-top: 2rem;
    margin-bottom: 1rem;

 }
 .pers3 img{
    width: 15rem;
    margin-top:2rem ;
    margin-bottom: 1rem;
 }

 .description{
    background-color: rgb(49, 63, 57);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 8rem;
 }
 .description img{
    width: 20rem;
    height: 25rem;
    border-radius: 16px;
}
.describe{
    margin-top: 8rem;
    margin-right: 6rem;
}
.photos{
    margin-top: 1rem;
    margin-right: 2rem;
}
.describe h1{
    color: rgba(227, 227, 36, 0.963);
    font-family: 'Georgia'; 
    font-size: xx-large;
    margin-left: 8rem;
    margin-bottom: -0.5rem;
    margin-top: 9rem;

}
.describe h2{
    color:white;
    margin-left: 8rem;
    font-size: xx-large;
    font-family: 'Georgia';
}

.describe p{
    color: white;
    font-family: 'Georgia';
    font-size: larger;
    margin-left: 8rem;
    margin-top: 1rem;

}
.mario{
   margin-top: -7rem;
   margin-left: 10rem;
   margin-bottom: 1rem;
}
.footer{
    background-color: rgb(236, 236, 236);;
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    margin-bottom: 1rem;
    height: 12rem;
}
.logo2{
    height: 3rem;
    width: 9rem;
    margin-top: 0.3rem;
    margin-left: 2rem;
   
}

.footer a{
    font-size: medium;
    font-family: 'Rubik';
    color: black;

}
.about{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-right: 12rem;

}
.about1{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-right: 12rem;

}
.about2{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-right: 8rem;

}

@media (max-width: 600px) {

    .logo1 {
        height: 2rem;
        width: 6.8rem;
        margin-top: 2rem;
        margin-left: 1rem;
    }
    .navigation {
        flex-direction: column;
        align-items: center;
        margin-left: 10rem;
    }
    .navigation a{
        color: white;
        margin: 0.5rem 0;
        margin-top: 1rem;
        display: none;
      
     }
     .navigation a:hover{
        background-color:rgba(227, 227, 36, 0.963);
        border-radius: 16px;
        transition: .5s;
    }
    .bars{
        display: block;
        font-size: larger;
        margin-left: 23rem;
        margin-top: 0.6rem;
     }


    .text{
        background-color: rgb(49, 63, 57);
        display: flex;
        flex-direction: column;
        height: 15rem;
        width: 100%;
    
    }
    .headerImage{
        margin-left: 70%;
        margin-bottom: -1rem;
        border-radius: 16px;
        width: 160px;
    }
    .text h1{
        color: rgba(227, 227, 36, 0.963);
        font-family: 'Georgia'; 
        font-size: x-large;
        margin-left: 2rem;
        margin-bottom: -3rem;
        margin-top: 2rem;
    
    }
    
    .text h2{
        color:white;
        margin-left: 2rem;
        margin-top: 2.7rem;
        font-size: larger;
        font-family: 'Georgia';
    
    }
    
    .text p{
        color: white;
        font-family: 'Georgia,serif';
        font-size: medium;
        margin-left: 2rem;
        margin-top: 1rem;
        width: 270px;
    
    }
    .text button{
        width: 8rem;
        height: 1.5rem;
        margin-left: 2rem;
        margin-top: 2rem;
        background-color: rgba(227, 227, 36, 0.963);
        border-radius: 16px;
        font-family: 'rubik';
        font-size: small;
        font-weight: bold;
    
    }
    .specials{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .specials p{
        margin-top: 3rem;
        margin-left: 2rem;
        font-size: medium;
        font-family: 'rubik';
        font-weight: bold;
    }
    .specials button{
        margin-top: 3rem;
        margin-right: 1.5rem;
        width: 8rem;
        height: 1.5rem;
        border-radius: 16px;
        background-color: rgba(227, 227, 36, 0.963);
        font-family: 'rubik';
        font-size: small;
        font-weight: bold;

    }
    .menu{
        background-color: aquamarine;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 2rem;
        margin-left: 0.4rem;
        width: 100%;
    }
    .card1{
        background-color: rgb(236, 236, 236);
        flex-direction: row;
        border-radius: 16px;
    }
    .card1 img{
        width: 9rem;
        height: 9rem;
        border-radius: 16px;
    }
    .card1 h2{
        background-color: aqua;
        width: 20rem;
        height: 1.5rem;
        margin-left: 1rem;
        margin-top: 1rem;
        font-family: 'Raleway';
        font-size: medium; 
    }
    .card1 h3{
        background-color: blanchedalmond;
        height: 1rem;
        margin-top: 1rem;
        margin-left: 1rem;
        font-size: small;
        color: orange;
    }
    .card1 p{
        background-color: blueviolet;
        height: 3.5rem;
        width: 23rem;
        margin-left: -23.5rem;
        margin-top: 3rem;
        color: grey;
        font-size: small;
    
    }
    .card1 a{
        background-color: bisque;
        width: 17rem;
        height: 1.5rem;
        margin-left: -23rem;
        margin-top: 7rem;
        color: black;
        font-family: 'Rubik';
        font-size: small;
        font-weight: bold;
    }
    .icon1{
        margin-left: -12em;
        margin-right: 1rem;
        margin-top: 7.1rem;
        margin-bottom: 1rem;
        font-size: small;
     }
    
    .card2{
        background-color: rgb(236, 236, 236);
        flex-direction: row;
        border-radius: 16px;
        margin-top: 1rem;
    }
    .card2 img{
        width: 9rem;
        height: 9rem;
        border-radius: 16px;
    }
    .card2 h2{
        background-color: aqua;
        width: 20rem;
        height: 1.5rem;
        margin-left: 1rem;
        margin-top: 1rem;
        font-family: 'Raleway';
        font-size: medium; 
    }
    .card2 p{
        background-color: blueviolet;
        height: 5rem;
        width: 25.5rem;
        margin-left: -23.1rem;
        margin-top: 3rem;
        color: grey;
        font-size: small;
    
    }
    .card2 h3{
        background-color: blanchedalmond;
        height: 1rem;
        margin-top: 1rem;
        margin-left: 1rem;
        font-size: small;
        color: orange;
    }
    .card2 a{
        background-color: bisque;
        width: 17rem;
        height: 1.5rem;
        margin-left: -25.5rem;
        margin-top: 8.5rem;
        color: black;
        font-family: 'Rubik';
        font-size: small;
        font-weight: bold;
    }
    .icon2{
        margin-left: -12em;
        margin-right: 1rem;
        margin-top: 8.6rem;
        font-size: small;
     }
    .card3{
        background-color: rgb(236, 236, 236);
        display: flex;
        flex: 1;
        flex-direction: row;
        border-radius: 16px;
        margin-top: 1rem;
    }
    .card3 img{
        width: 9rem;
        height: 9rem;
        border-radius: 16px;
    }
    .card3 h2{
        margin-left: 1rem;
        margin-top: 1rem;
        font-family: 'Raleway';
        font-size: medium; 
    }
    .card3 h3{
        margin-top: 1rem;
        margin-left: 12rem;
        font-size: small;
        color: orange;
    }
    .card3 p{
        margin-left: -17.2rem;
        margin-top: 4rem;
        color: grey;
        font-size: x-small;
    }
    .card3 a{
        margin-left: 0.3rem;
        margin-top: 7rem;
        text-decoration: none;
        color: black;
        font-family: 'Rubik';
        font-size: small;
    }
    .icon3{
        margin-left: 6.3rem;
        margin-top: -0.7rem;
        margin-bottom: 1.5rem;
        font-size: x-small;
     }
     .rating{
        background-color: rgb(236, 236, 236);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 3rem;
        width: 24rem;
     }
    
     .pers1{
        display: flex;
        flex-direction: column;
        margin-left: 0.7rem;
        align-items: center;
    }
    .pers2{
        display: flex;
        flex-direction: column;
        margin-left: 0.7rem;
        align-items: center;
    }
    .pers3{
        display: flex;
        flex-direction: column;
        margin-left: 0.7rem;
        align-items: center;
        margin-bottom: 0.5rem;
    }
    .stars{
        font-size: small;
        margin-top: 0.5rem;
        color: rgba(227, 227, 36, 0.963);
    }
    .stars2{
        font-size: small;
        margin-top: 0.5rem;
        color: rgba(227, 227, 36, 0.963);
    }
    .stars3{
        font-size: small;
        margin-top: 0.5rem;
        color: rgba(227, 227, 36, 0.963);
    }
    
     .pers1 img{
        width: 7rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    
     }
     .pers2 img{
        width: 7rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    
     }
     .pers3 img{
        width: 7rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
     }
     .rating h3{
        font-size: small;
        font-family: 'relway';
     }

     .description{
        background-color: rgb(49, 63, 57);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 3rem;
        width: 24rem;
     }
     .description img{
        width: 7rem;
        height: 10rem;
        border-radius: 16px;
    }
    .describe{
        margin-top: 1rem;
        margin-right: 2rem;
        margin-left: -6rem;
    }
    .photos{
        margin-top: 0.5rem;
        margin-right: 0.5rem;
    }
    .describe h1{
        color: rgba(227, 227, 36, 0.963);
        font-family: 'Georgia'; 
        font-size: medium;
        margin-left: 7rem;
        margin-bottom: -0.2rem;
        margin-top: 3rem;
    
    }
    .describe h2{
        color:white;
        margin-left: 7rem;
        font-size: medium;
        font-family: 'Georgia';
    }
    
    .describe p{
        color: white;
        font-family: 'Georgia';
        font-size: small;
        margin-left: 7rem;
        margin-top: 1rem;
    
    }
    .mario{
       margin-top: -6rem;
       margin-left: 4rem;
       margin-bottom: 0.5rem;
    }

    .footer{
        background-color: rgb(236, 236, 236);;
        display: flex;
        justify-content: space-between;
        margin-top: 3rem;
        margin-bottom: 0.5rem;
        height: 11rem;
        width: 24rem;
    }
    .logo2{
        height: 1rem;
        width: 5rem;
        margin-top: 0.3rem;
        margin-left: 0.2rem;
       
    }
    
    .footer a{
        font-size: x-small;
        font-family: 'Rubik';
        color: black;
    
    }
    .about{
        display: flex;
        flex-direction: column;
        margin-top: 0.6rem;
        margin-right: 1rem;
    
    }
    .about1{
        display: flex;
        flex-direction: column;
        margin-top: 0.7rem;
        margin-right: 1rem;
    
    }
    .about2{
        display: flex;
        flex-direction: column;
        margin-top: 0.8rem;
        margin-right: 2rem;
    
    }
}